<!DOCTYPE html>
<html>
<head>
    <title>Editar Devices</title>
</head>
<body>
    <h1>Inventario</h1>

    <form method="POST" action="/save">
        <table border="1" cellpadding="8">
            <tr>
                <th>#</th>
                <th>Hostname</th>
                <th>Host</th>
                <th>User</th>
                <th>Password</th>
            </tr>

            {% for dev in devices %}
            <tr>
              <td>{{ loop.index }}</td>
              <td>{{ dev.hostname }}</td>
              <td><input name="host_{{ loop.index0 }}" value="{{ dev.host }}"></td>
              <td><input name="user_{{ loop.index0 }}" value="{{ dev.username }}"></td>
              <td><input name="pass_{{ loop.index0 }}" type="password" value="{{ dev.password }}"></td>
            </tr>
            {% endfor %}
        </table>

        <br>
        <button type="submit">Guardar</button>
    </form>
</body>
</html>
